<!doctype html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="/static/combattingCovid-png.png" type="image/x-icon">
  
  <link rel="stylesheet" type="text/css" href="/static/bootstrap-5.0.0-dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/covihelp.css" />
  <link rel="stylesheet" type="text/css" href="/static/Semantic-UI-master/dist/semantic.min.css">
  <script src="/static/js/jquery.js"></script>
  <title>Combatting Covid | India</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbarCustom">
    <div class="container">
      <a class="navbar-logo" href="{% url 'index' %}">
        <img src="/static/combattingCovid-png.png" alt="combattingCovidLogo" width="50" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'oxygen' %}"><i class="bed icon"></i> Oxygen</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'hospitals' %}">Hospitals</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pharma' %}"><i class="pills icon"></i> Pharma</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'plasma' %}"><i class="plus icon"></i> Plasma</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModel" data-bs-whatever="@mdo"
              style="cursor:pointer"><i class="user icon"></i> Login</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#registerModel" data-bs-whatever="@mdo"
              style="cursor:pointer"><i class="sign in alternate icon"></i> Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav><br><br><br><br>

  {% comment %} Login Model {% endcomment %}
  <div class="modal fade" id="loginModel" tabindex="-1" aria-labelledby="loginModelLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModelLabel">Login - Update</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label">Email address</label>
              <input type="email" class="form-control" name='email'>
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" name='password'>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  {% comment %} register model {% endcomment %}
  <div class="modal fade" id="registerModel" tabindex="-1" aria-labelledby="registerModelLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerModelLabel">Register</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label">Email address</label>
              <input type="email" class="form-control" name="userEmail">
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" name="userPassword">
            </div>
            <div class="mb-3">
              <label class="form-label">Confirm Password</label>
              <input type="password" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  {% block body %}
  {% endblock body %}
  <br><br><br>
</body>
<script src="/static/bootstrap-5.0.0-dist/js/bootstrap.bundle.min.js"></script>
</html>