{% extends 'layout.html' %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" style="margin: 20px;">
    <strong>{{ message|safe }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="accordion" id="accordionExample">
    {% for resource, medicines in cleaned_resources %}
    <div class="accordion-item" style="margin:20px">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed ms-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo-{{ resource.id }}" aria-expanded="false"
                aria-controls="collapseTwo-{{ resource.id }}">
                {{ resource.name }} - {{ resource.contact }} - {% if resource.verified == True %}
                <span class="badge bg-success" style="margin: 3px;">Verified on - {{ resource.verified_at|date:"d M Y" }} at {{ resource.verified_at|date:"h : m" }}</span>
                {% endif %}
                {% if resource.verified == False %}
                <span class="badge bg-info text-dark" style="margin: 3px;">Not Verified</span>
                {% endif %}
                {% if resource.available == True %}
                <span class="badge bg-success" style="margin: 3px;">Available</span>
                {% else %}
                <span class="badge bg-info text-dark" style="margin: 3px;">Not Available</span>
                {% endif %}
            </button>
        </h2>
        <div id="collapseTwo-{{ resource.id }}" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Contact</th>
                                <th scope="col">State</th>
                                <th scope="col">City</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> {{ resource.name }} </td>
                                <td> {{ resource.contact }} </td>
                                <td> {{ resource.state }} </td>
                                <td> {{ resource.city }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="accordion-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2">Drugs Available</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for medicine in medicines %}
                            <tr>
                                <td><span class="badge bg-success">Available</span></td>
                                <td>{{ medicine }}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td><span class="badge rounded-pill bg-success">Address</span></td>
                                <td>{{ resource.address }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-danger ms-4 mb-2 rounded-pill" data-bs-toggle="modal"
                data-bs-target="#reportModal{{resource.id}}"><i class="info icon"></i> Report</button>
            <div class="modal fade" id="reportModal{{resource.id}}" tabindex="-1" aria-labelledby="reportModal{{resource.id}}Label"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="reportModal{{resource.id}}Label"><i class="info icon"></i> Report</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{% url 'report' resource.id %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <div class="form-floating">
                                        <textarea class="form-control" name="comments" placeholder="Leave a comment here"
                                            id="reportTextArea" style="height: 150px"></textarea>
                                        <label for="reportTextArea">Comments</label>
                                    </div>
                                    <input type="hidden" name="ModelType" value="Pharma">
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="alert alert-dark" role="alert" style="margin: 30px;">
        No more available Resources. <a href="{% url 'pharma' %}" class="alert-link">Browse Other Pharma Resources</a>.
    </div>
</div>


<script src='../../static/js/custom.js'></script>
{% endblock body %}