{% extends 'layout.html' %}

{% block body %}
<div class="input-group mb-3 inputSearchBarCustom">
    <input type="text" class="form-control" placeholder="City/State Name" aria-label="City/State Name" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
  </div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
        {% for i in '12345678' %}
      <tr>
        <th scope="row">{{i}}</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock body %}