{% extends 'layout.html' %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" style="margin: 20px;">
    <strong>{{ message|safe }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="accordion" id="accordionExample">
  {% for resource in resources %}
  <div class="accordion-item" style="margin:20px">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseTwo-{{ resource.id }}" aria-expanded="false"
        aria-controls="collapseTwo-{{ resource.id }}">
        {{ resource.name }} - {{ resource.contact }} - {% if resource.verified == True %}
        <span class="badge bg-success" style="margin: 3px;">Verified</span>
        {% endif %}
        {% if resource.verified == False %}
        <span class="badge bg-info text-dark" style="margin: 3px;">Not Verified</span>
        {% endif %}
      </button>
    </h2>
    <div id="collapseTwo-{{ resource.id }}" class="accordion-collapse collapse" aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Contact</th>
                <th scope="col">State</th>
                <th scope="col">City</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> {{ resource.name }} </td>
                <td> {{ resource.contact }} </td>
                <td> {{ resource.state }} </td>
                <td> {{ resource.city }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p>
        <span class="badge rounded-pill bg-danger" style="margin-left: 20px; margin-right: 10px;">Donor Type</span>
        - {{ resource.donortype }}
        <br>
        <span class="badge rounded-pill bg-success" style="margin-left: 20px; margin-right: 10px;">Address</span>
        - {{ resource.address }}
      </p>
      <button type="button" class="btn btn-sm btn-danger ms-4 mb-2" data-bs-toggle="modal"
        data-bs-target="#reportModal">Report</button>
      <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="reportModalLabel">Report</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="POST" action="{% url 'report' resource.id %}">
                {% csrf_token %}
                <div class="mb-3">
                  <div class="form-floating">
                    <textarea class="form-control" name="comments" placeholder="Leave a comment here"
                      id="reportTextArea" style="height: 150px"></textarea>
                    <label for="reportTextArea">Comments</label>
                  </div>
                  <input type="hidden" name="ModelType" value="Plasma">
                </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="alert alert-dark" role="alert" style="margin: 30px;">
    No more available Resources. <a href="{% url 'plasma' %}" class="alert-link">Browse Other Plasma Resources</a>.
  </div>
</div>


<script src='../../static/js/custom.js'></script>
{% endblock body %}