{% extends 'layout.html' %}

{% block body %}

<style>  
.publicMainBody{
    display: flex;
    justify-content: center;
    align-items: center;
}
.publicMainBodyLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.publicMainBodyLogoImg{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.publicMainBodyText{
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>


<div class="publicMainBody">
  <div class="container">
    <div class="publicMainBodyLogo">
      <img class="publicMainBodyLogoImg" src="/static/coviHelp.png"/>
    </div>
    <div class="publicMainBodyText">
        <h3><span class="badge bg-secondary">Plasma Resources</span></h3>
    </div>
  <form class="search-form" method="GET" id='myForm' onsubmit="submitForm(plasma)" >
    <div class="form-group" style="margin-left: 20px;">
      <label class="control-label col-sm-2" for="state">State:</label>
      <div class="col-sm-12">
        <select class="form-control dropdown" name='state' id='state'>
          <option value="None" selected>Click to choose State</option>
          {% for state in states %}
          <option value="{{ state }}">{{ state }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  
    <div class="form-group" style="margin-left: 20px;">
      <label class="control-label col-sm-2" for="city">City:</label>
      <div class="col-sm-12">
        <select class="form-control dropdown" name='city' id='city'>
          <option value="None" selected>Click to choose district</option>
        </select>
      </div>
    </div>
  
    <div class="form-group" style="margin-left: 20px;">
      <div class="col-sm-offset-2 col-sm-10 py-3">
        <button type="submit" class="btn btn-warning">Search</button>
      </div>
    </div>
  </form>
</div>
</div>
<script src='../../static/js/custom.js'></script>
{% endblock body %}