{% extends 'userlayout.html' %}

{% block body %}

<div class="wrapper">
    <div class="sidebar">
        <h6 style="margin: 10px; border: 2px black dashed; padding: 10px;">Your Contibution</h6>
        {% for o in oxygen %}
        <ul>
            <li class="sidecard">
                <!-- <a href="#"> -->
                <i class="fa fa-home"></i>
                {{ o.name }} - {{ o.city }}
                <br>
                <div class="btn-group custombtngrp">
                    <button class="btn btn-success btn-action btn-Modify"
                        data-url="/user/oxygen/modify/?id={{ o.id }}">Modify</button>
                    <button class="btn btn-danger btn-action btn-Delete"
                        data-url="/user/oxygen/delete/?id={{ o.id }}">Delete</button>
                </div>
                <!-- </a> -->
            </li>
        </ul>
        {% endfor %}
        <div class="social_media"> <a href="#"><i class="fa fa-facebook-f"></i></a> <a href="#"><i
                    class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-instagram"></i></a> </div>
    </div>
    <div class="main_content">
        <div class="header">
            <div class="container" style="margin-left: 10px !important; padding: 25px;">
                <div class="col-12">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio asperiores in iste deleniti
                    quibusdam, animi illo molestiae accusantium, qui sunt rerum amet similique quo? Obcaecati atque
                    quisquam iusto porro. Eos?
                </div>
            </div>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" style="margin: 20px;">
            <strong>{{ message|safe }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

        <div class="info" style="margin: 20px;">
            <form class="contact-form" method="POST" action="/user/oxygen">
                {% csrf_token %}
                <!-- name -->
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="name">
                    </div>
                </div>
                <!-- state -->
                <div class="form-group">
                    <label class="control-label col-sm-2" for="state">State:</label>
                    <div class="col-sm-10">
                        <select class="form-control dropdown" name='state' id='state'>
                            <option value="None" selected>Click to choose State</option>
                            {% for state in states %}
                            <option value="{{ state }}">{{ state }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- city -->
                <div class="form-group">
                    <label class="control-label col-sm-2" for="city">City:</label>
                    <div class="col-sm-10">
                        <select class="form-control dropdown" name='city' id='city'>
                            <option value="None" selected>Click to choose district</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="address">Address:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="5" placeholder="Enter Address" name="address"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="contact">Contact:</label>
                    <div class="col-sm-10">
                        <input type="contact" class="form-control" placeholder="Enter Mobile Number" name="contact">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 py-3">
                        <button type="submit" class="btn btn-warning">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src='../../static/js/custom.js'></script>

{% endblock body %}